<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recommendations</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    </head>
    <body class="p-3 mb-2 bg-light text-dark">
        <div>
            <h2 style="text-align: center;">Oops!</h2>
            <div style="text-align: center;">
                <br>
                <h4 class="display-5" style="display: block;">Could not find {{name}} movie in our collection!</h4>
                <br>
                <h4>Please check the spelling and date OR try a different movie :)</h4>
            </div>
        </div>
    </body>
</html>