<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
    body{
    background-image: url("{{ url_for('static', filename='bgimg.jpg') }}");
    }
    </style>
    </head>
    <body>
        <div class="container-fluid opaque vertical-center">
            <h1 style='color:#ffffff ; text-align:center' >RECOMMENDER SYSTEM</h1>
            <form style="text-align: center;" action="https://sayanibiswas.pythonanywhere.com/home" method="post">
            <h4 style="color: #ffffff" for="moviename">Enter a movie name and the release year below:</h4>
            <p><input class="form-control col-xs-4" id="form-input" type="text" id="moviename" name="moviename" placeholder="Movie of your choice (Release year)"></p>
            <button class="btn btn-dark" type="submit">Submit</button>
        </div>
    </body>
</html>